.p-3{
    margin-top: 10px;
    background-color: rgb(157, 195, 221);
}
canvas{
    border: 1px solid black;
}
.icon{
    width: 16px;
    height: 16px;
}
.nulo{
    position: absolute;
    z-index: 1;
}
.prev{
    position: absolute;
    z-index: 2;
}
